/* Colors

--brand: #5865f2;
--brand-gradient: linear-gradient(90deg,#8ea1e1,#7289da);
--greyple: #99aab5;
--dark-not-black: #2c2f33;
--focus-border: #00b0f4;
--status-green: #43b581;
--text-link: #00b0f4;
--off-white: #f6f6f6;
--white: #fff;
--not-quite-black: #23272a;
 */

:root {
    --brand: #5865f2;
    --brand-gradient: linear-gradient(90deg, #8ea1e1, #7289da);
    --greyple: #99aab5;
    --dark-not-black: #2c2f33;
    --focus-border: #00b0f4;
    --status-green: #43b581;
    --text-link: #00b0f4;
    --off-white: #f6f6f6;
    --white: #fff;
    --not-quite-black: #23272a;
    --not-quite-black-rgb: 35, 39, 42;
    --black: #000;
    --ekko-red: #de2761;
}



/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

button {
    text-decoration: none;
}

/********
Utility
********/
.hv_80 {
    height: 80vh;
    background-color: bisque;
}

.hv_70 {
    height: 70vh;
}

.hv_40 {
    height: 40vh;
    background-color: aquamarine;
}

.bg_dark {
    background-color: var(--dark-not-black);
}

.btn_light {
    background-color: var(--off-white);
}

.text_light{
    color: var(--off-white);
}

.text_dark{
    color: var(--not-quite-black);
}

/********
 Header
 ********/
.site_header {
    background-image: url("../img/jumbo.png");
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
}

/********
  Navigation
  ********/

.navigation {
    color: var(--off-white);
    font-weight: bold;
    width: 1200px;
    margin: auto;
    text-align: center;
    padding: 2rem 0.8rem;
    position: relative;
}

.navigation div,
.navigation ul,
.navigation ul>li {
    display: inline-block;
}

.navigation ul>li {
    margin: 0 2rem;
}

.logo {
    position: absolute;
    left: 0;
    bottom: 50%;
    transform: translate(0, 50%);
}

.access {
    position: absolute;
    right: 0;
    bottom: 50%;
    transform: translate(0, 50%);
}

.access>button {
    font-weight: bold;
    display: inline-block;
    background-color: var(--off-white);
    height: 40px;
    padding: 0 1.3rem;
    border-radius: 23px;
    vertical-align: middle;

}

/********
 Banner Text
 ********/

.text_banner {
    color: var(--off-white);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    text-align: center;
}

.text_banner>h2 {
    margin-top: 2.5rem;
    font-size: 3.5rem;
    font-weight: bold;
}

.text_banner>p {
    margin-top: 2rem;
    line-height: 2rem;
    font-size: 1.3rem;
}

.text_banner button {
    margin: 2rem 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    display: inline-block;
    height: 60px;
    padding: 0px 2.3rem;
    border-radius: 23px;
}



#arrow_down {
    font-size: 2rem;
    font-weight: bold;
}


/********
 Main
 *********/