/* General */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif; ;
}

/******** 
Utility 
********/
.hv_80{
    height: 80vh;
    background-color: bisque;
}

.hv_70{
    height: 70vh;
    background-color: red;
}

.hv_40{
    height: 40vh;
    background-color: aquamarine;
}



/********
 Header 
 ********/
 
 /******** 
 Main 
 *********/




